{% extends 'base.html.twig' %}

{% block title %}Files index{% endblock %}

{% block body %}
    <h1>Files index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Url</th>
            </tr>
        </thead>
        <tbody>
        {% for file in files %}
            <tr>
                <td>{{ file.id }}</td>
                <td>{{ file.name }}</td>
                <td>{{ file.photo }}</td>
                <td>{{ file.createAt ? file.createAt|date('Y-m-d') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('files_new') }}">Create new</a>
{% endblock %}
